<h1>Listing videos</h1>

<ul class="videos">
  <% @videos.each do |video| %>
    <li>
        <a href="#">
        
        <%= video_tag(video.video_file, autoplay: false, controls: true, size: "200x150")%>
        <br>        
            <b><%= link_to video.title , video %></b>
          <%if admin_signed_in? %>
            <p><%= link_to 'Edit', edit_video_path(video) %> | <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></p>
           <% end %>
        </a>
    </li>
  <% end %>
</ul>
<%if admin_signed_in? %>
<%= link_to 'New Video', new_video_path %>
<%end%>